.low-scren {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  @media screen and (min-width: 320px) {
    display: none;
  }
}
// #wr {
//   margin-bottom: 77px;
// }
// #pagination {
//   display: none;
// }
.invisible {
  display: none;
}
// #footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100%;
// }

.scroll {
  height: 1px;
  width: 1px;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
