body {
  //   background-color: $main-bg-color;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  transition: background .3s linear;;
  // color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;

  //   color: $main-title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

%list {
  list-style: none;
}

%link {
  text-decoration: none;
}

.header,
#content,
.header__btn-cont .header__top,
.pagination__container,
.footer {
  @media screen and (max-width: 319px) {
    display: none;
  }
}
