$primaryBackgroundColor: #ffffff;
$footerBackgroundColor: #f7f7f7;
$modalBackgroundColor: #000000;
$pageNumberBackgroundColor: #ff6b08;
$rateBackgroundColor: #ff6b01;

$headerTextColor: #ffffff;
$cardNameTextColor: #000000;
$cardInfoTextColor: #ff6b08;
$footerTextColor: #545454;
$modalPrimaryTextColor: #000000;
$modalSecondaryTextColor: #8c8c8c;

$primaryFontFamily: Roboto;
