:root {
  --primary-background-color: #ffffff;
  --footer-background-color: #F7F7F7;
  --modal-background-color: #000000;
  --page-number-background-color: #FF6B08;
  --rate-background-color: #FF6B01;

  --header-text-color: #FFFFFF;
  --card-name-text-color: #000000;
  --card-info-text-color: #FF6B08;
  --footer-text-color: #545454;
  --modal-primary-text-color: #000000;
  --modal-secondary-text-color: #8C8C8C;

  --primary-font-family: Roboto;
}