
  $primaryBackgroundColor: #ffffff;
  $footerBackgroundColor: #F7F7F7;
  $modalBackgroundColor: #000000;
  $pageNumberBackgroundColor: #FF6B08;
  $rateBackgroundColor: #FF6B01;

  $headerTextColor: #FFFFFF;
  $cardNameTextColor: #000000;
  $cardInfoTextColor: #FF6B08;
  $footerTextColor: #545454;
  $modalPrimaryTextColor: #000000;
  $modalSecondaryTextColor: #8C8C8C;

  $primaryFontFamily: Roboto;
  