.black--body {
  background-color: #2a2425;
}

.black--footer {
  color: #d5d8dc;
  background-color: #131419;
}

.black--text {
  color: #ffffff;
}

.black--button {
  border: 1px solid #ffffff;
}

.black--modal__button {
  background-color: #131419;
}

.black--modal__cross {
  fill: #ffffff;
}

.black--team__content {
  color: #ffffff;
  background-color: #2a2425;
}

.black--login__modal {
  background-color: #131419;
}

.black--login__button {
  background-color: #131419;
}

