.film-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;
}

.film-info {
    display: inline-flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FF6B08;
}