.header {
  margin: 0 auto;

  // height: 100%;

  background-color: grey;
  color: $headerTextColor;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/headerPage1/mobilex1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerPage1/mobilex2.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerPage1/tablex1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerPage1/tablex2.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerPage1/desktopx1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    max-width: 1600px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerPage1/desktopx2.jpg');
    }
  }
}

.header-wrapper {
  position: relative;
  padding: 45px 32px 0 32px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 45px 20px 0 20px;
  }
}

.user-cont {
  position: absolute;

  right: 120px;
  top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ff6b01;
  font-size: large;
}

.header-top {
  display: flex;
  align-items: center;

  margin-bottom: 53px;
}

.logo-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-images {
  margin-right: 10px;

  @media screen and (min-width: 300px) and (max-width: 767px) {
    margin-right: 0px;
  }
}

.logo-name {
  @media screen and (min-width: 300px) and (max-width: 767px) {
    display: none;
  }
}

.nav-menu {
  margin-left: auto;
}

.list-nav {
  display: flex;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67px;

  text-transform: uppercase;
}

.item {
  display: block;

  &:not(:last-child) {
    margin-right: 39px;
  }
}

.item-current {
  border-bottom: 3px solid $pageNumberBackgroundColor;
}

.header-form {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 92px;
  }
}

.header-input {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 250px;
  }
  color: #ffffff;
  border: none;
  width: 336px;
  border-bottom: 0.5px solid $headerTextColor;

  background: transparent;

  padding: 4px;
  //transition: all 0.3s ease;
  //transform: translateX(-100%);
  transition: all 0.2s cubic-bezier(0.59, 0, 0.49, 0.99);

  &:hover,
  &:focus {
    outline: none;
    border-bottom: 1px solid $pageNumberBackgroundColor;
    color: $headerTextColor;
    transition: all 0.1s cubic-bezier(0.59, 0, 0.49, 0.99);

    // transform: translateX(0%);
  }

  &::placeholder {
    color: $headerTextColor;
  }
}

.header-button--submit {
  padding: 0;

  position: relative;
  left: -15px;

  border: none;
  background-color: transparent;

  cursor: pointer;
  &:hover .input-images {
    stroke: #ff6b08;
  }
}

.input-images {
  stroke: #ffffff;
  fill: transparent;
}

/*form:focus .input-images,
form:hover .input-images{
    stroke:#FF6B08;
}*/
