.header-lib {
  // max-width: 1600px;

  margin: 0 auto;

  height: 237px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  background-color: grey;
  color: $headerTextColor;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/headerLibrary/mobilex1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerLibrary/mobilex2.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerLibrary/tablex1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 237px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerLibrary/tablex2.jpg');
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/headerLibrary/desktopx1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 237px;
    max-width: 1600px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/headerLibrary/desktopx2.jpg');
    }
  }
}

.header-wrapper {
  padding: 45px 32px 0 32px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 45px 20px 0 20px;
  }
}

.header-top {
  display: flex;
  align-items: center;

  margin-bottom: 53px;
}

.logo-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-images {
  margin-right: 10px;

  @media screen and (min-width: 300px) and (max-width: 767px) {
    margin-right: 0;
  }
}

.logo-name {
  @media screen and (min-width: 300px) and (max-width: 767px) {
    display: none;
  }
}

.nav-menu {
  margin-left: auto;
}

.list-nav {
  display: flex;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67px;

  text-transform: uppercase;
}

.item {
  display: block;

  &:not(:last-child) {
    margin-right: 39px;
    @media screen and (min-width: 300px) and (max-width: 450px) {
      margin-right: 20px;
    }
  }
}

.item-current {
  border-bottom: 3px solid $pageNumberBackgroundColor;
}

.header__btn-cont {
  display: flex;

  justify-content: center;
}

.header__btn {
  display: flex;
  height: 44px;
  width: 130px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6b01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    cursor: pointer;
  }

  &--watchet {
    margin-right: 20px;
  }

  &--queue {
  }
}

.header__btn {
  display: flex;
  height: 44px;
  width: 130px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6b01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    cursor: pointer;
  }

  &--watchet {
    margin-right: 20px;
  }

  &--queue {
  }

  &--day {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    margin-right: 10px;
  }

  &--week {
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }
}

.header__top {
  display: flex;
  margin-top: 10px;
}

.btn-active {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  color: #fff;
  border: 1px solid #ff6b01;
}

.empty-lib {
  justify-content: center;

  margin-top: 20px;
  // height: 400px;
  height: 100vh;
}

.header__btn--empty {
  margin: 20px auto;
  display: block;
}

// .header__btn--day:hover,
// .header__btn--day:hover {
//   border: 1px solid #ff6b01;
// }
