.team {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}
.team:target {
  opacity: 1;
  visibility: visible;
}
.team:target .team__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.team__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.team__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.team__content {
  background-color: white;
  color: black;
  width: 740px;
  height: 95%;
  padding: 10px;
  position: relative;
  border-radius: 15px;
  opacity: 0;
  transform: translate(-100%, 0px);
  transition: all 0.8s ease 0s;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: auto;
    // width: 700px;
    // max-height: 1300px;
    // height: 850px;
  }
  // @media screen and (min-width: 1024px) {
  //   min-width: 900px;
  // }

  @media screen and (max-width: 767px) {
    // padding-left: 10px;
    // padding-right: 25px;
    width: 460px;
    min-height: 1600px;
    // height: 950px;
  }
  @media screen and (max-width: 467px) {
    width: 90%;
    min-height: 2900px;
  }
}

.team__button {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: black;
  stroke: 4px;
  width: 35px;
  height: 30px;
  &:hover {
    color: #ff6b08;
  }
}

.team__list {
  display: block;
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 4%;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4%;
  }

  @media screen and (min-width: 468px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
  }

  @media screen and (max-width: 467px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2%;
  }
}

.title__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.team__title {
  font-size: 20px;

  &:hover {
    color: #ff6b08;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    line-height: 1.16;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 28px;
    }
  }
}
.under {
  color: #ff6b08;
  font-weight: bold;
  font-size: 18px;
}
.goitLogo {
  display: inline-block;
  height: 25px;
  width: 65px;
  margin-right: 30px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 23px;
    width: 65px;
  }
  @media screen and (min-width: 1024px) {
    height: 24px;
    width: 80px;
  }
}
.team__img {
  border-radius: 60px;
  padding-bottom: 5%;
  min-width: 100px;
  margin: auto;
  text-align: center;
}
.team__name {
  font-size: 24px;
}
.team__discription {
  font-weight: bold;
  padding-top: 3%;
  padding-bottom: 3%;
}
.git-logo {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0;
}

.team__line {
  // position: absolute;
  // padding-top: 66px;
  display: block;
  text-align: center;
  color: #ff6b08;
  font-weight: bold;
  font-size: 22px;
  // padding-left: 110px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.modal-team-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;

  background-color: inherit;
  border: none;
  cursor: pointer;
}
