.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal__reg {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);

  border-radius: 3px;
  width: 350px;
  height: 170px;
  padding: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form label {
  margin-bottom: 16px;
}

.login-form input,
.login-form button {
  width: 300px;
  padding: 4px;
  font: inherit;
}

.login__subm {
  background: white;
  border: 1px solid black;
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  height: 35px;
}
